## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://forms.gle/EDdU2Zfq8zLvDea18]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [2]:
## 輸入資料
'''
你的程式碼
'''
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
      164, 173, 165, 163, 177, 171]
girls=[169, 183, 170, 168, 182, 170, 173, 185, 151, 156, 162, 169, 162, 181, 
       159, 154, 167, 175, 170, 160]

In [3]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
'''
你的答案
'''
boyandgirl={'boys':boys, 'girls':girls}
df = pd.DataFrame(boyandgirl)
df.describe()

             boys       girls
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [4]:
print("男生身高全距=",max(boys)-min(boys))
print("女生身高全距=",max(girls)-min(girls))
print("男生身高眾數=",stats.mode(boys,axis=None)[0][0])
print("女生身高眾數=",stats.mode(girls,axis=None)[0][0])
print("男生身高變異數=",np.var(boys,ddof=1))
print("女生身高變異數=",np.var(girls,ddof=1))
print("男生身高峰度=",stats.skew(boys))
print("女生身高峰度=",stats.skew(girls))
print("男生身高偏度=",stats.skew(boys))
print("女生身高偏度=",stats.skew(girls))
print("男生身高峰度=",stats.kurtosis(boys))
print("女生身高峰度=",stats.kurtosis(girls))

男生身高全距= 39
女生身高全距= 34
男生身高眾數= 165
女生身高眾數= 170
男生身高變異數= 84.89210526315789
女生身高變異數= 95.37894736842104
男生身高峰度= -0.47132127317376954
女生身高峰度= 0.05985321129365068
男生身高偏度= -0.47132127317376954
女生身高偏度= 0.05985321129365068
男生身高峰度= 0.19395882957876331
女生身高峰度= -0.8203607083948947

In [5]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
'''
你的答案

女生平均值較高
'''

'\n你的答案\n\n女生平均值較高\n'

In [6]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
'''
你的答案

這個是樣本，可能是抽樣的方式照成的
'''

'\n你的答案\n\n這個是樣本，可能是抽樣的方式照成的\n'